
p{
    line-height: 1.8em;

}

#main-section{
    width: 1280px;
}


#main-section, aside{
    display: inline-block;
    vertical-align: top;
}
#main-section{
    padding: 20px;
    box-sizing: border-box;
    width: 900px;
}
aside{
    box-sizing: border-box;
    padding: 20px;
    width: 375px;
}

aside .related{
    margin: 0 auto;
}

article{
    font-size: 1.1em;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
}
@media screen and (max-width: 1280px){
    aside{
        width: 29%;
    }

    #main-section{
        width: 70%;
    }

    article iframe{
        width: 100%;
    }
}
@media screen and (max-width: 970px){
    #main-container{
        width: 100%;
    }
    article iframe{
        height: 400px;
    }
    
    aside{
        width: 100%;
    }
    aside #related-section{
        display: inline-block;
    }
    aside #related-section .related{
        display: inline-block;
        vertical-align: top;
        padding-right: 5px;
        width: 49%;
    }

    #main-section{
        width: 100%;
    }
}


